@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="text-align: center;">
    <a href="@Url.Action("Index", "Info")" class="btn btn-lg" style="background-color: green; color: azure; transition: transform 0.3s ease, box-shadow 0.3s ease; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);"
       onmouseover="this.style.transform = 'scale(1.1)'; this.style.boxShadow = '0px 0px 10px rgba(0, 0, 0, 0.3)';"
       onmouseout="this.style.transform = 'scale(1)'; this.style.boxShadow = '0px 0px 5px rgba(0, 0, 0, 0)';">Go To Your Dashboard</a>
</div>







